{erl_opts, [debug_info]}.

{deps, [
  { 'jsonrpc2', ".*", { git, "git://github.com/zuiderkwast/jsonrpc2-erlang.git", {branch, master} } },
  { 'mochiweb', ".*", { git, "git://github.com/mochi/mochiweb.git",              {branch, master} } },
  { 'jsxn',     ".*", { git, "git://github.com/talentdeficit/jsxn.git",          {branch, master} } }
]}.
